
@model PagesViewModel

<form id="addnew-content"  method="post">
	<div class="form-group">
		<div class="row">
			<div class="col-sm-12">
				<label>Content Heading</label>
				<input id="contentTitle" name="contentTitle" type="text" placeholder="Content Heading" class="form-control">
			</div>
		</div>
	</div>

	<div class="form-group">
		<div class="row">
			<div class="col-sm-12">
				<label>Content Type</label>
				<select id="contenttypeSelect" name="contenttypeSelect" class="form-control">
					@foreach (var item in Model.ContentTypeVM)
					{
						<option value="@item.Id">
							@item.Name
						</option>
					}
				</select>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-12">
				<button id="createContent" class="btn btn-success">Submit</button>
			</div>
		</div>
	</div>
</form>
<script>
	$('#addnew-content').submit(function(e){
		e.preventDefault();
			debugger

			var formData = {
				cTitle: $('#contentTitle').val(),
				cType: $('#contenttypeSelect').val()
			}
			$.ajax({
				url: "/Content/CreateContent/",
				method: "POST",
				data: formData,
				success: function (result) {

					console.log(result);
					if (result['statusCode'] === "200") {
						setTimeout(function () {
							$('.alert-success').css('display', 'block');
							setTimeout(function () {
								$('.alert-success').css('display', 'none');

							}, 3000)
						}, 1000)
						var iid = result['itemId'];
						window.location.href = "/Content/EditContent/" + iid;
					}
					//$('#createContent').html('Loading');

				}
			});
	});
		
			


</script>