@model PagesViewModel

<div class="card shadow">
	<div class="card-body">
		<div class="col-md-11">
			<form id="updatedesc">
				<input type="hidden" id="contentId" name="contentId" value="@Model.ContentTypeSlug?.Id" />
				<div class="row">
					<div class="col-md-12">
						<form action="#">
							<div class="row">

								<div class="col-lg-6 form-group">
									<label class="form-group-label">Content Note</label>
									<textarea id="note" class="form-control" rows="3">@Model?.ContentTypeSlug?.Note</textarea>
								</div>
								<div class="col-lg-6  form-group">
									<label class="form-group-label">Overview</label>
									<textarea id="oview" class="form-control" rows="3">@Model?.ContentTypeSlug?.OverView</textarea>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-6 form-group">
									<label class="form-group-label">Tagline</label>
									<textarea id="tline" class="form-control" rows="3">@Model?.ContentTypeSlug?.Tagline</textarea>
								</div>
								<div class="col-lg-6 form-group">
									<label class="form-group-label">Video link</label>
									<input id="vlink" class="form-control" value="@Model?.ContentTypeSlug?.VideoLink" />
								</div>
							</div>

							<div class="form-group">
								<label class="form-group-label">Short Description</label>
								<textarea id="shortDescription">@Model?.ContentTypeSlug?.ShortDescription</textarea>
								@* <textarea id="" class="editor-full" rows="3"></textarea> *@
							</div>
							<div class="form-group">
								<label class="form-group-label">Description</label>
								<textarea name="editor-full" id="description" class="editor-full" rows="3" cols="2">
									@Model?.ContentTypeSlug?.Description
								</textarea>
							</div>

							<div class="form-group">
								<label class="form-group-label">Other Description</label>
								<textarea id="otherDescription" class="editor-full" rows="3">@Model?.ContentTypeSlug?.OtherDescription</textarea>
							</div>
							<div class="form-group">
								<label class="form-group-label">Other Short Description</label>
								<textarea id="othershortDescription" class="editor-full" rows="3">@Model?.ContentTypeSlug?.OtherShortDescription</textarea>
							</div>

						</form>


					</div>
				</div>
				<div class="row">
					<div class="form-group">
						<button id="descSubmit" type="submit" class="btn btn-success">Update Record</button>
					</div>

				</div>
			</form>
		</div>

		<div class="col-md-1">
			@foreach (var item in Model.ContentTypeSlug.PhotoList)
			{
				<div>
					<img src="@item.URL" width="100">
				</div>
			}
		</div>
	</div>
</div>
<div id="bottom-right" class="">
	<div class="alert alert-success alert-styled-right alert-arrow-right alert-dismissible" style="display:none">
		<button id="contentSubmit" type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
		<span class="font-weight-semibold">Well done!</span> Data Updated Successfully
	</div>
</div>
<style>
	#bottom-right {
		position: fixed;
		bottom: 20px; 
		right: 20px; 
	}
</style>


<script type="text/javascript">
	
	$(document).ready(function() {
			 $('#shortDescription').summernote();
			 $('#description').summernote();
			 $('#otherDescription').summernote();
			 $('#othershortDescription').summernote();


	});
	



	$('#descSubmit').click(function (e) {
		e.preventDefault();
		debugger;
		var desc = $('#description').summernote();
		var otherDesc = $('#otherDescription').summernote();
		var shortDesc = $('#shortDescription').summernote();
		var othershortDesc =$('#othershortDescription').summernote(); 

		var formData = {
			Note:$('#note').val(),
			OverView: $('#oview').val(),
			Tagline:$('#tline').val(),
			Videolink: $('#vlink').val(),

			 Description: desc.summernote('code'),
			 ShortDescription: shortDesc.summernote('code'),
			 OtherDescription: otherDesc.summernote('code'),
			 OtherShortDescription: othershortDesc.summernote('code'),

			Id: $('input[name=contentId]').val()

		}
		$('#contentSubmit').html("<div class=\"spinner-border text-warning m-6\" role=\"status\"></div>");
		$.ajax({
			url: "/Content/UpdateDescContent/",
			type: "POST",
			data: formData,
			success: function (result) {
				if (result['statusCode'] === '200') {
					SuccessMessage("Record Updated Successfully");
				}
				else {
					FailureMessage('Unable to Update Record');
				}


			}
		})
	});
</script>
