
@model PagesViewModel

<form id="edit-contenttype" action="/Action/Controler" method="post">
	<div class="form-group">
		<input id="cId" type="hidden" value="@Model.ContentType.Id" />
		<div class="row">
			<div class="col-sm-12">
				<label>Content Heading</label>
				<input id="contentType" type="text" placeholder="Content Type" value="@Model.ContentType.Name" class="form-control">
			</div>
			<div class="col-sm-12">
				<label>Content Type Slug</label>
				<input id="contentTypeslug" type="text" placeholder="Content Type" value="@Model.ContentType.ContentTypeSlug" class="form-control">
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="row">
			<div class="col-sm-12">
				<button id="cTypesubmit" class="btn bg-success form-control"> Edit Content Type</button>
			</div>
		</div>
	</div>
</form>
<div>
	<div id="bottom-right" class="">
		<div class="alert alert-success alert-styled-right alert-arrow-right alert-dismissible" style="display:none">
			<button id="contentSubmit" type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
			<span class="font-weight-semibold">Well done!</span> Data Updated Successfully
		</div>
	</div>
	<div id="bottom-right">
		<div class="alert alert-danger alert-styled-right alert-dismissible" style="display:none">
			<button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
			<span class="font-weight-semibold">Oh snap!</span> Change a few things up and <a href="#" class="alert-link">try submitting again</a>.
		</div>
	</div>

	<style>
		#bottom-right {
			position: fixed;
			bottom: 20px; /* You can adjust this value to change the vertical position */
			right: 20px; /* You can adjust this value to change the horizontal position */
		}

	</style>
</div>


<script type="text/javascript">
	$('#edit-contenttype').submit(function (e) {
		e.preventDefault();
		debugger;
		var formData = {
			cTitle: $('#contentType').val(),
			Id:$('#cId').val(),
			TypeSlug:$('#contentTypeslug').val()
		}
		$.ajax({
			url: "/Content/EditType/",
			type: "POST",
			data: formData,
			success: function (result) {
				debugger;
				if (result["statusCode"] === "200") {
					setTimeout(function () {
						$('.alert-success').css('display', 'block');
						$('#cTypesubmit').html("Loading....");
						setTimeout(function () {
							$('#cTypesubmit').html('Submit');
							$('.alert-success').css('display', 'none');
							location.reload();

						}, 3000)
					}, 1000)

				}
				else {
					setTimeout(function () {
						$('.alert-danger').css('display', 'block');
						$('#cTypesubmit').html("Loading....");
						setTimeout(function () {
							$('#cTypesubmit').html('Submit');
							$('.alert-danger').css('display', 'none');
						}, 3000)
					}, 1000)
				}
			}
		});

	});


</script>