
@model PagesViewModel
@{
	ViewBag.Title = "AddContent Type : All Purpose CMS System";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-header page-header-light">
	<div class="page-header-content header-elements-md-inline">
		<div class="page-title d-flex">

		</div>

		<div class="header-elements d-none">
			<div class="d-flex justify-content-center">
				<a href="#" id="addType" class="btn btn-link btn-float font-size-sm font-weight-semibold text-default">
					<i class="icon-plus-circle2 text-pink-300"></i>
					<span>Add Type Content</span>
				</a>
			</div>
		</div>
	</div>

	<div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
		<div class="d-flex">
			<div class="breadcrumb">
				<a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Dashboard</a>
				<span class="breadcrumb-item active">ContentType</span>
			</div>
			<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
		</div>
	</div>
</div>



<div class="content">
	<div class="card">
		<div class="card-header header-elements-inline">
			<h5 class="card-title">Content Type</h5>
			<div class="header-elements">
				<div class="list-icons">
					<a class="list-icons-item" data-action="collapse"></a>
					<a class="list-icons-item" data-action="reload"></a>
				</div>
			</div>
		</div>

		<div class="card-body">
		</div>

		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th>Type Id</th>
						<th>Type Name</th>
						<th>Color</th>
						<th>Feature</th>
						<th>Status</th>
						<th class="text-center" style="width: 30px;"><i class="icon-menu-open2"></i></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.ContentTypeVM)
					{
						<tr>
							<td>@item.Id</td>
							<td>@item.Name</td>
							<td></td>
							<td></td>
							<td><span class="badge badge-success">Active</span></td>
							<td class="text-center">
								<div class="list-icons">
									<div class="dropdown">
										<a href="#" class="list-icons-item" data-toggle="dropdown">
											<i class="icon-menu9"></i>
										</a>
										<div class="dropdown-menu dropdown-menu-right">
											<a href="/Content/EditContentType/@item.Id" class="dropdown-item edit"><i class="icon-file-pdf"></i> Edit</a>
											<a href="#" class="dropdown-item"><i class="icon-file-excel"></i> Delete</a>
										</div>
									</div>
								</div>
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>

</div>
@section jq{
<script>
		$('#addType').click(function () {
			$.ajax({
				url: "/Content/AddContentType/",
				type: "POST",
				success: function (data) {
					$('.modal-title').html('Add ContentType');
					$('.modal-body').html(data);
					$('#modal_theme_success').modal();
				}
			})
		});
		$('.edit').click(function(e){
			e.preventDefault();
			var link = $(this).attr('href');
			$.ajax({
				url:link,
				type:'POST',
				success:function(result){
					$('.modal-title').html('Edit ContentType');
					$('.modal-body').html(result);
					$('#modal_theme_success').modal();
				}
			})
		})
</script>
}