
@{
    ViewData["Title"] = "Icons";
    Layout = "~/Views/Shared/_SetupLayout.cshtml";
}

<div class="container">
    <div class="card">
        <div class="row">
            @for (int i = 0; i < 200; i++)
            {
                <div class="col-lg-1">
                    <i class="icon-add-to-list text-pink-300"></i>
                </div>
            }
          
        </div>
    </div>
</div>