@using MMC_Pro_Edition.ViewModel
@model PagesViewModel
@{
	ViewData["Title"] = "UserSetup";
	Layout = "~/Views/Shared/_SetupLayout.cshtml";
}


<div class="page-header page-header-light">
	<div class="page-header-content header-elements-md-inline">
		<div class="page-title d-flex">
		</div>

		<div class="header-elements d-none">
			<div class="d-flex justify-content-center">

				<a href="#" id="addUser" class="btn btn-link btn-float font-size-sm font-weight-semibold text-default">
					<i class="icon-add text-pink-300"></i>
					<span>Add User</span>
				</a>

			</div>
		</div>
	</div>

	<div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
		<div class="d-flex">
			<div class="breadcrumb">
				<a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
				<span class="breadcrumb-item active">Manage Login users</span>
			</div>

			<a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>

		</div>

		<div class="header-elements d-none">
			<div class="breadcrumb justify-content-center">
				<a href="#" class="breadcrumb-elements-item">
					<i class="icon-comment-discussion mr-2"></i>
					Support
				</a>

				<div class="breadcrumb-elements-item dropdown p-0">
					<a href="#" class="breadcrumb-elements-item dropdown-toggle" data-toggle="dropdown">
						<i class="icon-gear mr-2"></i>
						Settings
					</a>

					<div class="dropdown-menu dropdown-menu-right">
						<a href="#" class="dropdown-item"><i class="icon-user-lock"></i> Account security</a>
						<a href="#" class="dropdown-item"><i class="icon-statistics"></i> Analytics</a>
						<a href="#" class="dropdown-item"><i class="icon-accessibility"></i> Accessibility</a>
						<div class="dropdown-divider"></div>
						<a href="#" class="dropdown-item"><i class="icon-gear"></i> All settings</a>
					</div>
				</div>
			</div>
		</div>
	</div>


</div>
<div class="content">
	<!-- Tabbed nav -->
	<div class="card shadow">
		<div class="card-header header-elements-inline">
			<h5 class="card-title"></h5>
			<div class="header-elements">
				<div class="list-icons">
					<a class="list-icons-item" data-action="collapse"></a>
					<a class="list-icons-item" data-action="reload"></a>
					<a class="list-icons-item" data-action="remove"></a>
				</div>
			</div>
		</div>

		<div class="card-body">
			<table class="table">
				<thead>
					<tr>
						<td>
							SR#
						</td>
						<td>
							LoginUser
						</td>
						<td>
							Name
						</td>
						<td>Manage</td>
					</tr>

				</thead>
				<tbody>
					@foreach (var item in Model.LoginUsers)
					{
						if(item.UserName=="sa@sa.com")
						{
							
						}
						else
						{
							<tr>
								<td>
									@item.Id
								</td>
								<td>
									@item.UserName
								</td>
								<td>
									@item.Name
								</td>
								<td><a href="/WebSetup/EditUser/@item.Id"><i class="icon-database-edit2 text-pink-300"></i></a></td>
							</tr>
						}
					
					}
				</tbody>
			</table>




		</div>
	</div>






	<!-- /tabbed nav -->
</div>
<script>
	$('#addUser').click(function (e) {
		e.preventDefault();
		$.ajax({
			url: "/WebSetup/AddUser",
			type: "POST",
			success: function (data) {
				$('.modal-title').html('Add New User');
				$('.modal-body').html(data);
				$('#modal_theme_success').modal();
			}
		})
	
	});
</script>