@{
	Layout = null;
}
<div class="sidebar sidebar-light bg-transparent sidebar-component sidebar-component-left border-0 shadow-0 sidebar-expand-md">

	<!-- Sidebar content -->
	<div class="sidebar-content">

	
		<!-- Sub navigation -->
		<div class="card shadow">
			<div class="card-header bg-transparent header-elements-inline">
				<span class="text-uppercase font-size-sm font-weight-semibold">Navigation</span>
				<div class="header-elements">
					<div class="list-icons">
						<a class="list-icons-item" data-action="collapse"></a>
					</div>
				</div>
			</div>

			<div class="card-body p-0">
				<div class="card-body">
					<a href="#" class="btn bg-indigo-400 btn-block">Compose mail</a>
				</div>
				<ul class="nav nav-sidebar mb-2" data-nav-type="accordion">

					<li class="nav-item-header">Folders</li>
					<li class="nav-item">
						<a href="/cmsemails/inbox" class="nav-link active">
							<i class="icon-drawer-in"></i>
							Inbox
							<span class="badge bg-success badge-pill ml-auto"></span>
						</a>
					</li>
				@* 	<li class="nav-item">
						<a href="#" class="nav-link"><i class="icon-drawer3"></i> Drafts</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link"><i class="icon-drawer-out"></i> Sent mail</a>
					</li>
				 *@
			
				</ul>
			</div>
		</div>
		<!-- /sub navigation -->
	
	

	</div>
	<!-- /sidebar content -->

</div>